body {
    height: 100%;
    background-color: black;
    display: flex;
    margin: auto;
}

.now, 
.know {
    font-style: italic;
}

.main_div {
    position: relative;
    background-color: aqua;
    width: 90vh;
}

input,
button {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 10px;
    width: 34%;
    padding: 10px;
    padding-left: 2em;
}

img {
    width: 30%;
    height: auto;
    position: inherit;
    margin: auto;
}