* {
    box-sizing: border-box;
}

body {
    font: 1.3rem sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 14);
    font-family: system-ui, sans-serif;
    line-height: 1.2;
}

.now, 
.know {
    font-style: italic;
}

.main-area {
    margin: auto;
    background-color: aqua;
    width: 140vh;
    height: 729.6px;
    display: flex;
}

.img-area {
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');  
    background-size: cover;
    background-position: center center;
    width: 41em;
    > div {
        height: 15%;
        background-color: black;
        opacity: 0.4;
    }
}

.text-area {
    padding-left: 1.7em;
    background-color: azure;
    > p:first-child {
        width: 85%;
        margin-top: 6.5em;
        font-size: 1.1rem;
        font-weight: 600;
    }
    > p + p {
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.do-this {
    padding-top: 2em;
}

label {
    color: rgb(57, 57, 57);
    font-size: 0.65rem;
    font-weight: 500;
    display: block;
}

.form {
    background-color: white;
}

.form__group {
    padding: 0;
}

.form__controls {
    margin-top: -4px;
    margin-bottom: 0.5em;
}

.form__submit {
    margin-top: 3rem;
    width: 12.5em;
    height: 2.1rem;
    background-color: #596D48;
    color: white;
    font-size: 0.4;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(224, 223, 223);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.grid__col {
    flex-basis: 40%;
}

.log-in {
    width: 100%;
    background-color: beige;
    margin-top: 1.5em;
    font-size: 0.65em;
    font-weight: 500;
}

input {
    width: 14em;
    height: 1.8em;
    border-radius: 3px;
    border: solid 1px #E5E7EB;
}